<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Thunderbolt</key>
	<array>
		<dict>
			<key>RID</key>
			<integer>0</integer>
			<key>Ridge Silicon Vendor ID</key>
			<real>32902</real>
			<key>Ridge Silicon Device ID</key>
			<real>5587</real>
			<key>Ridge Silicon Revision</key>
			<integer>6</integer>
			<key>Port Silicon Vendor ID</key>
			<integer>40</integer>
			<key>Port Silicon Device ID</key>
			<integer>826622785</integer>
			<key>Port Silicon Revision</key>
			<integer>32</integer>
			<key>MinBoardRevision</key>
			<integer>0</integer>
			<key>MaxBoardRevision</key>
			<integer>20</integer>
			<key>Version</key>
			<real>39.03</real>
			<key>Priority</key>
			<integer>500</integer>
			<key>Firmware</key>
			<string>Mac-473D31EABEB93F9B-B0_13.24.0-C0_39.3.bin</string>
			<key>SetNVRAM</key>
			<dict>
				<key>tbt-options</key>
				<integer>4</integer>
			</dict>
			<key>ClearNVRAM</key>
			<array>
				<string>ThorUpdateResult</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
